@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-height: 100vh;
}


* {@apply scroll-smooth font-roboto}

html {
	margin-left: calc(100vw - 100%);
    scroll-snap-type: y mandatory;
	background: #F2F2F2;
}

#__next {@apply w-full h-full}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #C5C6C7 !important;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.flex-center {
	@apply justify-center items-center;
}
.text-start {
	text-align: start;
	text-align: left;
}


button {@apply cursor-pointer}
button:disabled {@apply cursor-not-allowed}

/* Size of buttons */
.button-small {@apply w-33 px-2 py-1 text-base text-center transition-colors}
.button-large {@apply px-2 py-2 text-base text-center transition-colors}

/* Color style of buttons */
.button-filled {@apply font-bold text-white bg-green-2 hover:bg-green-1}
.button-filled:disabled {@apply bg-grey-3 text-grey-2 hover:bg-grey-3}

.button-outline {@apply text-green-2 border border-green-2 hover:bg-green-3 hover:text-green-2}
.button-outline:disabled {@apply text-grey-3 border border-grey-3 bg-opacity-0}

.link {@apply hover:text-green-2 hover:underline transition-colors cursor-pointer}

.input {@apply py-2 pl-4 h-10 text-grey-2 bg-white/0 border border-grey-2 focus:border-2 focus:border-green-2 focus:ring-0 focus:outline-none transition-colors}
label:focus-within {@apply text-green-2 transition-colors}
label:focus-within > .input {@apply text-black}

.textarea {@apply py-2 pl-4 h-52 text-grey-2 bg-white/0 border border-grey-2 focus:border-2 focus:border-green-2 focus:ring-0 focus:outline-none transition-colors}
label:focus-within {@apply text-green-2 transition-colors}
label:focus-within > .textarea {@apply text-black focus:outline-none}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23004ADF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e")
}

html, body, section, main {
    block-size: 100%;
}  
.section-wrapper {
	width: 100%;
    block-size: 100%;
    scroll-snap-type: y mandatory;
}
.section {
    block-size: 100%;
    scroll-snap-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.with-top-gradient {
	background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
}

.button-gradient {
	background: linear-gradient(0deg, #0657F9, #0657F9), #C4C4C4;
}

@media (max-width: 769px) {
    .inline-cards {
        width: calc(100vw);
        margin-left: -1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-margin-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .inline-cards > div {
        block-size: 100%;
        scroll-snap-align: end;
        min-width: calc(100vw - 4.5rem);
        scroll-margin-right: 3rem;
    }

    .inline-cards > div:last-child {
        margin-right: 1.5rem;
    }

}


 
/* @supports (-webkit-touch-callout: none) { */
    .h-screen {
        height: var(--app-height);
        /* background: red; */
        /* height: -webkit-fill-available !important; */
        /* min-height: -webkit-fill-available; */
    }
/* } */